<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496570103667-7v5djnv9bbor7ionkpsd5182dh33br7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496570103667-7v5djnv9bbor7ionkpsd5182dh33br7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496570103667-ehc21q2fjvd5maa9qevcnm9lmdfvthdk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnZ7ABOS-PzlU3eSI5S9GJNmFCIrOEScs</string>
	<key>GCM_SENDER_ID</key>
	<string>496570103667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.demo</string>
	<key>PROJECT_ID</key>
	<string>baby-names-app-db-c7de4</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-app-db-c7de4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496570103667:ios:851d02b88baef5d845f706</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-app-db-c7de4.firebaseio.com</string>
</dict>
</plist>